<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
</head>
<body>

    <form action="{% url "lista_estudiantes" %}" method='GET'>
        <button type='submit'> Listado de estudiantes </button>
    </form>

    <form action="{% url "estudiantes_form" %}" method='GET'>
        <button type='submit'> Formulario de estudiantes </button>
    </form>

        <form action="{% url "buscarEstudiante" %}" method='GET'>
        <button type='submit'> Buscar Estudiantes </button>
    </form>

</body>
</html>